/* variable css */
:root {
    --primary-color: #000000;
    --secondary-color: #00aeff;
    --off-white: #cecece;
    --sonic-silver: #707070;
    --white: #ffffff;
    --light-black: #303030;
    --off-black: #141414;
    --black: #000000;
}

/* Font face import */
@font-face {
    font-family: Poppins;
    src: url(../../font/Poppins-Regular.ttf);
}

/* <============= Common for all section CSS =============> */
.intersection-hr {
    width: 50%;
    margin: 50px auto;
    border: 1px solid var(--light-black);
}

/* <============= Reset all parameters CSS =============> */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    background-color: var(--black);
    color: var(--white);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a,
img,
input,
button,
.icon {
    display: block;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    border: 0px;
    background-color: var(--primary-color);
    color: var(--white);
    overflow-y: hidden;
}

.page {
    display: flex;
    justify-content: space-between;
}

.dual-sections {
    display: flex;
}

.left-section {
    overflow: scroll;
    height: 100vh;
    width: 22vw;
    margin-left: 30px;
    padding: 20px;
    border-right: solid 2px;
}

.inner-section {
    margin: 20px 0;
}

.inner-section a {
    align-items: center;
    transition: 200ms;
}

.inner-section a i {
    font-size: 12px;
}

.inner-subsections a:hover {
    margin-left: 15px;
}

.inner-subsections {
    margin: 10px 20px;
}

.inter-section-hr {
    width: 80%;
    justify-content: flex-start;
    border: 1px solid var(--light-black);
}


/* <======== Right Section CSS ========> */
.right-section {
    overflow-y: scroll;
    width: 78vw;
    height: 100vh;
    padding: 40px;
    text-align: justify;
}

.right-section h2 {
    margin: 20px 40px;
}

.subsections-info {
    width: 80%;
    margin: 40px auto;
}

.subsections-info h3 {
    margin: 10px 0;
    letter-spacing: 1px;
}

.subsections-info p {
    letter-spacing: 0.5px;
}

/* <============= Scroll Bar CSS =============> */
/* Width */
::-webkit-scrollbar {
    width: 6px;
    background-color: var(--off-black);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: var(--light-black);
    border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: var(--black);
}