*{
    /* border: solid 1px; */
    margin: 0.5vw;
}

:root {
    --primary-color: #000000;
    --secondary-color: #00aeff;

    --off-white: #cecece;
    --sonic-silver: #707070;
    --white: #ffffff;
    --light-black: #303030;
    --off-black: #141414;
    --black: #000000;
}
@font-face {
    font-family: Poppins;
    src: url(./../Poppins-Regular.ttf);
}

body{
    border: 0px;
    background-color: var(--primary-color);
    color: var(--white);
    overflow-y: hidden;
}
.intersection-hr {
    width: 100%;
    justify-content: flex-start;
    margin: 10px auto;
    border: 1px solid var(--light-black);
    margin-right: 100px;
}

.info{
    display: flex;
    justify-content: space-between;
}

.scroll{
    overflow: scroll;
    height:100vh;
    width: 22vw;
    margin-left: 30px;
    border-right: solid 2px;
}

.scroll_heading{
    margin : 20px auto;
}

.topic{
    text-align: center;
    font-weight: bold;
}

.info{
    font-size: 22px;
    color: #aaaaaa;
}

.options{
    font-size: 18px;
    height: 5vh;
    color: var(--white);
    
}
.tutorial{
    overflow-y: scroll;
    width: 78vw;
    height:100vh;
}