:root {
    --off-black: #141414;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    position: sticky;
    top: 0px;
    background-color: var(--off-black);
}

nav * {
    background-color: var(--off-black);
}

/* ---- navigation bar logo ---- */
.logo label {
    font-size: 30px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.logo label img {
    height: 30px;
}

/* ---- navigation bar links ---- */
.nav-links {
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 30%;
    margin: 0 20px;
}

.nav-links li {
    display: block;
    margin: auto 10px;
}

.nav-links li a{
    color: var(--white);
    font-weight: 500;
    font-size: 18px;
    transition: 500ms;
}

.nav-links li a:hover {
    background-color: var(--white);
    color: var(--black);
    padding: 5px 20px;
    border-radius: 20px;
}

/* navigation bar lines for collapsable nav bar */
.nav-lines {
    display: none;
    margin: auto 0;
}

.line-full {
    background-color: var(--white);
    width: 20px;
    height: 2px;
    margin: 5px;
}

.line-half {
    background-color: var(--white);
    width: 10px;
    height: 2px;
    margin: 5px;
}

.home {
    background-color: var(--black);
}

@media (max-width: 800px) {
    .logo label {
        color: var(--white);
        font-weight: 700;
    }

    .nav-actions {
        background-color: var(--white);
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 5px;
        padding-block: 16px 10px;
        box-shadow: 0 -2px 20px hsla(0, 0%, 0%, 0.1);
        z-index: 1;
    }

    .nav-lines {
        display: block;
        cursor: pointer;
    }

    .nav-links {
        position: absolute;
        margin: 0 0;
        display: flex;
        flex-direction: column;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        height: 0;
        background-color: #000000;
        transform: 200ms;   
        overflow: hidden;
        transition: 200ms;
    }

    .nav-links.active {
        height: 40vh;
    }

    .nav-links li {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    nav {
        padding: 10px 10px;
    }

    .logo label {
        font-size: 16px;
    }

    .logo label img {
        height: 16px;
    }
}