/* variable css */
:root {
    --primary-color: #000000;
    --secondary-color: #fa4454;
    --off-white: #cecece;
    --sonic-silver: #707070;
    --white: #ffffff;
    --light-black: #303030;
    --off-black: #141414;
    --black: #000000;
}

/* Font face import */
@font-face {
    font-family: Poppins;
    src: url(../font/Poppins-Regular.ttf);
}

/* <============= Reset all parameters CSS =============> */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    background-color: var(--black);
    color: var(--white);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a,
img,
input,
button,
.icon {
    display: block;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/* <============= Common for all section CSS =============> */
.inter-section-hr {
    width: 50%;
    margin: 50px auto;
    border: 1px solid var(--light-black);
}

.title {
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}

.subtitle {
    text-align: center;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 2px;
}

.para {
    text-align: center;
    width: 60%;
    margin: 20px auto;
    font-size: 14px;
    font-weight: 300;
}

/* <============= Home Section CSS =============> */
.home {
    margin: 20px;
}

.roadmap {
    width: 1000px;
    margin: auto auto;
}

.roadmap-title p {
    display: inline-block;
    margin: 10px;
    padding: 5px 10px;
    background-color: var(--off-white);
    color: var(--black);
    border-radius: 8px;
}

.roadmap-flex-box {
    display: flex;
    flex-wrap: wrap;
}

.roadmap-flex-box a {
    display: flex;
}

.skill {
    width: 300px;
    margin: 10px;
    padding: 20px;
    border: 2px solid var(--light-black);
    border-radius: 8px;
}

.skill:hover {
    background-color: var(--black);
}

.skill-header {
    color: var(--secondary-color);
    font-size: 22px;
    font-weight: 800;
}

.skill-para {
    font-size: 13px;
}

/* <============= Home Section CSS =============> */

.contribute {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contribute i {
    margin: 10px;
    font-size: 20px;
}

/* <============= Footer Section CSS =============> */

footer {
    padding: 4% 10%;
}

footer p {
    text-align: center;
}

footer p i {
    color: var(--red);
}

.heart {
    color: var(--secondary-color);
}

.footer-logo {
    display: flex;
    justify-content: center;
}

.footer-logo label {
    font-size: 30px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.footer-logo label img {
    height: 30px;
}

.footer-text {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    text-align: center;
}

.footer-media-links {
    display: flex;
    justify-content: center;
}

.footer-media-links i {
    font-size: 25px;
    margin: 10px;
}

.footer-media-links i:hover {
    transform: scale(0.9);
    color: var(--off-white);
}

/* <============= Media Queries CSS =============> */

@media (max-width: 1000px) {
    .roadmap {
        width: 100%;
    }

    .roadmap-flex-box {
        justify-content: center;
    }

    .skill {
        width: 45%;
    }
}

@media (max-width: 450px) {
    .home-title {
        font-size: 22px;
    }

    .home-subtitle {
        font-size: 12px;
        font-weight: 300;
    }

    .home-para {
        width: 90%;
    }

    .skill {
        width: 100%;
    }

    .footer-logo label {
        font-size: 15px;
        font-weight: 500;
        display: flex;
        align-items: center;
    }
    
    .footer-logo label img {
        height: 15px;
    }
    
    .footer-text {
        font-size: 12px;
    }
}

/* <============= Scroll Bar CSS =============> */
/* Width */
::-webkit-scrollbar {
    width: 6px;
    background-color: var(--off-black);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: var(--light-black);
    border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: var(--black);
}